body {
    background: black;
    color: white;
    font-family: "Times New Roman", serif;
    margin: 0;
}

.logo {
    text-align: center;
    margin: 20px 0;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav a {
    border: 1px solid white;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
}

.nav a:hover,
.nav a.active {
    background: white;
    color: black;
}

.box {
    width: 80%;
    margin: auto;
    border: 1px solid white;
    padding: 20px;
}

.section {
    display: flex;
    margin-bottom: 20px;
}

.section img {
    width: 150px;
    height: 150px;
    background: white;
    margin-right: 20px;
}

.blue {
    color: blue;
    text-decoration: none;
}

footer {
    text-align: center;
    margin: 30px 0;
}

footer a {
    color: blue;
    margin: 0 10px;
    text-decoration: none;
}
